<!DOCTYPE html><html><head><title>http://bford.info/tmp/.htaccess</title><link rel="canonical" href="http://bford.info/tmp/.htaccess"/><meta name="robots" content="noindex"><meta charset="utf-8" /><meta http-equiv="refresh" content="0; url=http://bford.info/tmp/.htaccess" /></head></html>
